* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}



body {
   margin: auto;
}

header {
   height: 60px;
   display: flex;
}

.mobile-menu {
   position: absolute;
   top: 37px;
   left: 10vw;
   color: #191414;
   cursor: pointer;
}

.mobile-menu:hover>nav {
   display: block;
}

.mobile-bars {
   position: absolute;
   background-color: blueviolet;
   left: -10vw;
   width: 100vw;
   height: 100vh;
   padding: 15px 0 0 0;
}

.mobile-bars li {
   width: 100vw;
   margin: 20px 10vw;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   border-bottom: 2px solid white;
}

.mobile-bars li a {
   color: white;
   font-weight: bold;
}

.mobile-bars li a:hover {
   background-color: transparent;
   color: #21BF42;
}

nav ul li a:hover {
   background-color: #21BF42;
   padding: 10px;
}

nav ul li a {
   padding: 10px;
   color: black;
}

nav {
   display: none;
   /* no queremos que aparezca en mobile */
}

figure {
   position: absolute;
   top: 15px;
   right: 50vw;
}

figure img {
   max-height: 40px;
}

form {
   position: absolute;
   top: 30px;
   right: 10vw;
   max-width: 27vw;
   display: flex;
   background-color: #e7e7e7;
   border-radius: 25px;
}

form input {
   max-width: 75%;
   padding: 5px 0;
   background-color: #e7e7e7;
   border: none;
   text-align: center;
   border-radius: 25px 0 0 25px;
}

form input::placeholder {
   color: #191414;
   font-family: Arial, Helvetica, sans-serif;
}

form button {
   border: none;
   background-color: #e7e7e7;
   margin: auto;
   border-radius: 0 25px 25px 0;
}

form button i {
   color: #21bf48;
}

main {
   max-width: 80vw;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

footer {
   margin: 10px auto 0 auto;
   text-align: center;
   padding: 15px 0;
   color: #191414;
   background-color: #e7e7e7;
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;
}

/* INDEX */
main h1 {
   margin: 20px auto;
   color: #7a7a7a;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

main h4 {
   max-width: 30vw;
   background-color: #7a7a7a;
   border: 1px solid #21BF42;
   border-radius: 25px;
   padding: 3px 0;
   color: #e7e7e7;
   text-transform: uppercase;
   text-align: center;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
}

.contenedor-index-artistas,
.contenedor-index-discos,
.contenedor-index-canciones {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* si el contenedor se hace, o es, más angosto se "tira" para abajo */
}

.index-artistas,
.index-discos,
.index-canciones {
   margin: 10px 0;
}

.index-artistas h5,
.index-discos h5,
.index-canciones h5 {
   margin: auto;
   text-align: center;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
}

.index-artistas h5 a,
.index-discos h5 a,
.index-canciones h5 a {
   color: #21BF42;
}

.index-artistas h6,
.index-discos h6,
.index-canciones h6 {
   margin: auto;
   text-align: center;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
}

.index-artistas h6 a,
.index-discos h6 a,
.index-canciones h6 a {
   color: #21BF42;
}

.index-artistas img,
.index-discos img,
.index-canciones img {
   width: 80vw;
   height: 210px;
}

/* DETAIL TRACK */
main h1 a {
   color: #21BF42;
}

.contenedor-principal-detail-track {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.contenedor-detail-track {
   background-color: rgba(0, 0, 0, 0.2);
   border: 1px solid #191414;
   margin: 10px 0;
   text-align: center;
   text-transform: capitalize;
}

.contenedor-detail-track h5 {
   color: #191414;
   font-family: Arial, Helvetica, sans-serif;
}

.contenedor-detail-track h6 {
   color: #21BF42;
   font-family: Arial, Helvetica, sans-serif;
}

.contenedor-detail-track h6 a {
   color: #21BF42;
}

.contenedor-detail-track img,
.album-determinado-foto img {
   width: 80vw;
   height: auto;
}

.contenedor-detail-track div {
   display: flex;
   justify-content: space-between;
   padding: 0 10px 5px 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.contenedor-detail-track div button {
   border: none;
   background-color: transparent;
   font-size: large;
}

/* DETAIL ALBUM */
.album-determinado-titulos {
   text-align: center;
   text-transform: capitalize;
   color: #3a3a3a;
   font-family: Arial, Helvetica, sans-serif;
}

.album-determinado-titulos h5 a {
   color: #21bf42;
}

.album-determinado-lista {
   margin: 15px 0;
   font-size: small;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
}

.album-determinado-lista li a {
   color: #3a3a3a;
}

.album-determinado-lista li a i {
   color: #21BF42;
}

/* DETAIL ARTIST */
.contenedor-detail-artist img {
   width: 80vw;
   height: 210px;
}

.casillero-detail-artist h5 {
   text-align: center;
   text-transform: capitalize;
   font-size: large;
   color: #21BF42;
   font-family: Arial, Helvetica, sans-serif;
}

.top-five {
   margin: 10px 0;
}

.top-five ul li a {
   text-transform: capitalize;
   color: #3a3a3a;
   font-family: Arial, Helvetica, sans-serif;
}

/* GENRES */
.contenedor-principal-genres {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.contenedor-genres {
   margin: 10px 0;
}

.contenedor-genres img {
   max-width: 80vw;
   height: auto;
}

.contenedor-genres h5 {
   margin: auto;
   text-align: center;
   color: #191414;
   font-family: Arial, Helvetica, sans-serif;
}

/* PLAYLIST */
.contenedor-playlist {
   display: flex;
   width: 80vw;
   justify-content: space-between;
   margin-bottom: 10px;
}

.cont-playlist {
   max-width: 70vw;
   display: flex;
   overflow: auto;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.contenedor-playlist img {
   width: auto;
   height: 60px;
}

.contenedor-titulo {
   padding: 10px;
   text-transform: capitalize;
}

.contenedor-artist {
   display: flex;
   margin: 0 0 0 -5px;
}

.contenedor-titulo h5 a,
.contenedor-artist h6 a {
   color: #3a3a3a;
   font-family: Arial, Helvetica, sans-serif;
}

.contenedor-artist h6 a {
   padding: 5px;
}

.contenedor-playlist button {
   border: none;
   background-color: transparent;
   color: #21BF42
}

/* SEARCH RESULTS */
.contenedor-busqueda {
   display: flex;
}

.contenedor-busqueda img {
   max-width: 30vw;
}

.contenedor-busqueda h5 a {
   text-transform: capitalize;
   color: #3a3a3a;
}

.busqueda-titulos {
   margin: auto 10px;
}

/* DETAIL GENRES */
.portada-detail-genres {
   display: flex;
   justify-content: space-between;
   background-color: rgba(83, 253, 154, 0.2);
}

.portada-detail-genres h5,
.portada-detail-genres i {
   margin: auto;
   text-transform: capitalize;
}

.portada-detail-genres img {
   width: 10vw;
   height: auto;
   margin: 10px;
   border: 1px solid black;
}

.contenedor-artistas-genres li {
   display: flex;
   justify-content: flex-start;
   margin: 10px 0;
}

.contenedor-artistas-genres img {
   width: 25vw;
   height: 60px;
}

.contenedor-artistas-genres h5 {
   margin: auto 0 auto 15vw;
   flex-wrap: wrap;
   text-transform: capitalize;
}

.contenedor-artistas-genres h5 a {
   color: black;
}

/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
@media (min-width: 768px) {

   /*INDEX*/
   main h4 {
      max-width: 120px;
   }

   .contenedor-index-artistas,
   .contenedor-index-discos,
   .contenedor-index-canciones {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .index-artistas img,
   .index-discos img,
   .index-canciones img {
      width: 39vw;
      height: 230px;
   }

   /*DETAIL-TRACK*/
   .contenedor-principal-detail-track {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .contenedor-detail-track img {
      width: 39vw;
      height: auto;
   }

   /*DETAIL-ALBUM*/
   .album-determinado-foto {
      display: flex;
      align-items: center;
   }

   .album-determinado-foto img {
      width: 39vw;
   }

   .contenedor-detail-album {
      display: flex;
      justify-content: left;
      margin: 0 0 20px 0;
      border-bottom: 1px solid #3a3a3a;
   }

   .casillero-titulos-listas {
      margin: 0 0 0 10vw;
   }

   .album-determinado-titulos {
      font-size: medium;
   }

   .album-determinado-lista {
      font-size: small;
      text-align: left;
   }

   /* DETAIL ARTIST*/
   .contenedor-principal-detail-artist {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .contenedor-detail-artist img {
      width: 38vw;
      height: 230px;
   }

   /* GENRES */
   .contenedor-genres img {
      width: 39vw;
   }

   /* PLAYLIST */
   .contenedor-playlist {
      max-width: 38vw;
      height: auto;
   }

   .contenedor-principal-playlist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .contenedor-artist {
      max-width: 70vw;
   }

   /* SEARCH RESULTS */
   .contenedor-busqueda img {
      max-height: 10vw;
      width: auto;
   }

   .busqueda-titulos {
      display: flex;
   }

   .busqueda-titulos h5 a {
      margin: 0 7vw;
   }

   /* DETAIL-GENRES */
   .contenedor-artistas-genres img {
      width: 10vw;
      height: 80px;
   }
   .contenedor-artistas-genres {
      max-width: 80vw;
      display: flex;
      justify-content: space-between;
   }

   .contenedor-artistas-genres h5 {
      margin: auto 0 auto 40px;
   }
}

/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
@media (min-width:1024px) {
   nav {
      display: block;
      margin: 30px auto;
   }

   nav ul {
      display: flex;
   }

   nav ul li {
      margin: 0 30px;
   }

   nav ul li a {
      text-transform: capitalize;
      color: #5757d5;
      color: #000000;
      font-family: Arial, Helvetica, sans-serif;
   }

   nav ul li ul li {
      margin: 10px auto;
      text-align: center;
   }

   nav ul ul {
      display: none;
   }

   nav ul li:hover>ul {
      display: block;
      position: absolute;
   }

   .mobile-menu {
      display: none;
   }

   figure {
      max-width: fit-content;
      order: -1;
      left: 10vw;
   }

   main h1 {
      margin: 70px 0 20px 0;
   }

   /*INDEX*/
   main h4 {
      max-width: 120px;
   }

   .contenedor-index-artistas,
   .contenedor-index-discos,
   .contenedor-index-canciones {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .index-artistas img,
   .index-discos img,
   .index-canciones img {
      width: 25vw;
      height: 280px;
   }

   /*DETAIL-TRACK*/
   .contenedor-principal-detail-track {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .contenedor-detail-track img {
      width: 25vw;
      height: auto;
   }

   /*DETAIL-ALBUM*/
   .contenedor-principal-detail-album {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .album-determinado-foto img {
      width: 20vw;
   }

   .contenedor-detail-album {
      width: 38vw;
      display: flex;
      justify-content: left;
   }

   .album-determinado-lista {
      text-align: left;
   }

   .casillero-titulos-listas {
      margin: 0 0 0 2vw;
   }

   /* DETAIL ARTIST */
   .contenedor-detail-artist img {
      width: 25vw;
      height: 260px;
   }

   /* GENRES */
   .contenedor-genres img {
      width: 24vw;
   }

   /* PLAYLIST */
   .contenedor-playlist {
      max-width: 39vw;
      height: auto;
   }

   .contenedor-principal-playlist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .contenedor-playlist img {
      width: auto;
      height: 100px;
   }

   .contenedor-titulo {
      padding: 30px 10px;
   }

   .contenedor-artist {
      margin: 0 0 0 -5px;
   }

   .contenedor-titulo h5 a,
   .contenedor-artist h6 a {
      font-size: large;
   }

   .contenedor-playlist button {
      font-size: large;
   }

   /* SEARCH-RESULTS */
   .busqueda-titulos h5 a {
      font-size: large;
      margin: 0 7vw;
   }

   /* DETAIL-GENRES */
   .contenedor-artistas-genres {
      max-width: 80vw;
   }
   
   .contenedor-artistas-genres img {
      width: 15vw;
      height: 150px;
   }

   .contenedor-artistas-genres h5 {
      margin: auto 0 auto 40px;
   }
}

#heart:hover {
   color: aliceblue;
}

.play:hover{
   color: aliceblue;
}

.ok{
   color:white;
}

